<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
    .container { width: 400px }
    .hiddensubmit { visibility: hidden }
    </style>
  </head>

  <body style="margin: 20px;">
    <div class="container">
    <h3>To-Do List</h3>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Tasks</h3>
      </div>
        <div class="panel-body">
          <form action="/tasks" method="POST" class="pure-form">
           <div class="input-group margin-bottom-sm">
             <span class="input-group-addon"><i class="fa fa-check fa-fw"></i></span>
             <input class="form-control" type="text" name="name" placeholder="Enter a task..." />
             <span class="input-group-addon"><i class="fa fa-fw"></i>Add
               <input type="submit" value="" class="hiddensubmit"/>
             </span>
           </div>
          </form>
          <ul class="fa-ul">
          {{range .}}
            <li><i class="fa-li fa fa-fw fa-checked-square"></i> {{.Name}} </li>
          {{ end }}
          </ul>
        </div>
     </div>
     </div>
</body>
</html>
